<section class="login-container" role="main">
 <div class="login-form">
     <h1>Welcome back!</h1>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
         <div class="form-group">
             <%= f.email_field :email, :autofocus => true, placeholder: 'email', class: 'form-control' %>
         </div>
         <div class="form-group has-feedback">
             <%= f.password_field :password, placeholder: 'password', class: 'form-control' %>
         </div>
         <div class="row">
             <label class="col-sm-6">
                 <%= f.check_box :remember_me %> Remember me
             </label>
             <div  class="col-sm-6 form-forgot">
                 <a href="/users/password/new">Forgot password?</a>
             </div>
         </div>
         <div class="form-group">
             <button type="submit" class="btn btn-default btn-block" id="login">Log In</button>
         </div>
         <% if user_signed_in? %>
         <p>
           <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
         </p>
         <% else %>
         <p>
           <p>Don't have an account? <a href="/users/sign_up" id="signup">Sign Up</a></p>
         </p>
         <% end %>
     <% end %>
 </div>
 <div class="login-footer" style="text-align:center;">
     <a href="https://github.com/login/oauth/authorize?client_id=73e9336783a759b47c38&scope=user:email&redirect_uri=https%3A%2F%2Fmy.ringcaptcha.com%2Flogin%2Fgithub" class="btn btn-github">Login with GitHub</a>
     <p style="margin: 9px 20px 0 20px;">Heavy contributors will get access to our unlimited version.</p>
 </div>
</section>
