<div id="pjax-modal-container" class="modal-content">

<div class="modal-app">
  <form name="edit_app" method="post" action='/apps/edit/<%=@user_site.id %>' data-pjax="1">
    <div class="modal-app-body">
      <div class="modal-app-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h3>Edit App</h3>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label required" for="edit_app_appType">App type</label>
            <select id="edit_app_appType" name="edit_app[appType]" required="required" class="form-control">
              <option value="">Choose One</option>
              <option value="WEBSITE" selected="selected">Web</option>
              <option value="MOBILE">Mobile</option>
              <option value="ONBOARDING">Onboarding</option>
            </select>
          </div>
          <div class="form-group">
            <label class="control-label required" for="edit_app_domain">Domain</label>
            <input type="text" id="edit_app_domain" name="edit_app[domain]" required="required" data-role="tagsinput" class="form-control" value="<%=@user_site.domain %>" style="display: none;">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>App Key</label>
            <input type="text" class="form-control" value="<%=@user_site.site_key || '' %>" readonly="">
          </div>
          <div class="form-group">
            <label>Secret Key</label>
            <input type="text" class="form-control" value="<%=@user_site.private_key || ''%>" readonly="">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-app-footer">
      <a href="/apps/delete/<%=@user_site.id %>" class="btnmodal js-delete-app"><i class="icon icon-remove"></i> Remove App</a>
      <button type="submit" class="btnmodal"><i class="icon icon-save"></i> Save changes</button>
    </div>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  </form>
</div>
<script>
$('input#edit_app_domain').tagsinput();
$('.bootstrap-tagsinput input').keyup(function () {
    $(this).attr('size', $(this).val().length).css('width', 'auto');
});
</script></div>
